h1{
    text-align: center;
    
}
.form-section{
    display: flex;
    flex-direction: column;
}
.form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 18px;
    margin-top: 15px;
}
form{
    text-align: center;
    
    background-color: rgb(237, 235, 231);
}
legend{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}
label{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}
button{
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 23px bold #333;
    margin-top: 1.5rem;
    transition: 0.3s;
}
button:hover{
    cursor: pointer;
    background-color: #d2cbcb;
    color: hsl(0, 27%, 96%);
}